.App {
 
  height: 100%;
  width: 100%;
  /* background-size: contain; */
  /* background-image: url('./images/q.jpg'); */
background-color: #5da5a5;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
